name: Build container images

on:
  release:
    types: [published, created, edited]
  workflow_dispatch: {}

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: checkout code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: install buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUBUSERNAME }}
          password: ${{ secrets.DOCKERHUBPASSWORD }}

      - name: build the image
        run: |
          docker buildx build \
            --tag xgcssch/systacomfortprometheusexporter:latest \
            --platform linux/amd64,linux/arm/v7,linux/arm64 -f build/Dockerfile .
